In [7]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_drug_data = pd.read_csv("data/mouse_drug_data.csv")
clinical_trial_data = pd.read_csv("data/clinicaltrial_data.csv")

# Combine the data into a single dataset
merged_data = mouse_drug_data.merge(clinical_trial_data, on='Mouse ID')
merged_data.to_csv("merged_data.csv", index=False)

# Display the data table for preview
merged_data.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [8]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint
tumor_volume_group = merged_data.groupby(['Drug', 'Timepoint']).mean()[["Tumor Volume (mm3)"]]

# Convert to DataFrame
tumor_volume_sort = pd.DataFrame(tumor_volume_group).reset_index()

# Preview DataFrame
tumor_volume_sort.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [9]:
# Store the Standard Error Mean (SEM) of Tumor Volumes Grouped by Drug and Timepoint
# Use the merged data set created in the first cell
tumor_volume_sem = merged_data.groupby(['Drug', 'Timepoint']).sem()[["Tumor Volume (mm3)"]]

# Convert to a DataFrame
tumor_volume_sem_df = pd.DataFrame(tumor_volume_sem).reset_index()

# Preview new DataFrame
tumor_volume_sem_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731

In [10]:
# Minor Data Munging to Re-Format the Data Frames
# Make a Pivot Table with "Timepoint" as the index and "Drug" as the columns 
munged_data = pd.pivot_table(tumor_volume_sort, index=["Timepoint"], columns=['Drug'])

# Preview that reformatting worked
munged_data

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087
25                 39.939528  54.287674  55.715252  57.678982  56.731968
30                 38.769339  56.769517  58.299397  60.994507  59.559509
35                 37.816839  58.827548  60.742461  63.371686  62.685087
40                 36.958001  61.467895  63.162824  66.068580  65.600754
45                 36.236114  64.132421  65.755562  70.662958  69.265506


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334
25         57.482574  55.504138  38.974300  56.166123  55.432935
30         59.809063  58.196374  38.703137  59.826738  57.713531
35         62.420615  60.350199  37.451996  62.440699  60.089372
40         65.052675  63.045537  36.574081  65.356386  62.916692
45         68.084082  66.258529  34.955595  68.438310  65.960888

In [6]:
# Generate the Scatter Plot (with Error Bars)
# Drugs to Track: Capomulin, Infubinol, Ketapril, and Placebo
# Make each drug a different color and marker shape, then draw trend line for each  
# x-axis = Timepoint (0 - 45)
# y-axis = Tumor Volume (30 - 80) 

# Set the Timepoint as the x-axis. List values from 0 to 45 each value being 5 greater than the last
x_limit = 50
x = np.arange(0, x_limit, 5)

# Set the y-axis as the Tumor Volume as the y-axis from 30 - 80
y_limit = 80
y = np.arrange(0, y_limit, 5)

# Create the error bar variables 

# example data
x = np.arange(0.1, 4, 0.5)
y = np.exp(-x)

# example variable error bar values
yerr = 0.1 + 0.2*np.sqrt(x)
xerr = 0.1 + yerr

# First illustrate basic pyplot interface, using defaults where possible.
plt.figure()
plt.errorbar(x, y, xerr=0.2, yerr=0.4)
plt.title("Simplest errorbars, 0.2 in x, 0.4 in y")

# Now switch to a more OO interface to exercise more features.
fig, axs = plt.subplots(nrows=2, ncols=2, sharex=True)
ax = axs[0,0]
ax.errorbar(x, y, yerr=yerr, fmt='o')
ax.set_title('Vert. symmetric')

# With 4 subplots, reduce the number of axis ticks to avoid crowding.
ax.locator_params(nbins=4)

ax = axs[0,1]
ax.errorbar(x, y, xerr=xerr, fmt='o')
ax.set_title('Hor. symmetric')

ax = axs[1,0]
ax.errorbar(x, y, yerr=[yerr, 2*yerr], xerr=[xerr, 2*xerr], fmt='--o')
ax.set_title('H, V asymmetric')

ax = axs[1,1]
ax.s

SyntaxError: positional argument follows keyword argument (<ipython-input-6-4cb6575234f8>, line 39)

In [ ]:
# Title the Axis

In [ ]:
# Create the Legend

In [ ]:
# Save the Figure

# Show the Figure
plt.show()

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
# plt.show()

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
# fig.show()